@import 'nib'

.navbar
  margin-top 15px

.bl
  background-color #000000
  height 30px

.huge
  font-size 25px


.status-panel
  &.not-responding
    border-color darken(#8b0000, 10) !important

    .panel-heading
      background-color #8b0000 !important
      border-color transparent
